
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100%;
  display: grid;
  justify-content: end;
  align-content: end;
  min-height: 100vh;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.559) 0%, rgba(0, 0, 0, 0) 100%);
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
 .menu .logo a{
	font-family: fantasy;
	font-family: 'Uni Ila.Sundaram-09';
	text-decoration: none;
    color: orange;
    font-size: 35px;
    font-weight: 600;
}

.menu .btns{
	margin-top: 10px;
  
	
  }
  .menu .btns a{
	background-color: rgb(241, 238, 233);
	height: 40px;
	width: 120px;
	border-radius: 12px;
	border: none;
	margin: 0 8px;
	/* border: 2px solid white; */
	font-size: 15px;
	font-weight: 500;
	padding: 0 10px;
	cursor: pointer;
	outline: none;
	transition: all 0.3s ease;
  }
  .menu .btns a:first-child{
	color: rgb(19, 18, 18);
	background: orange;
  }
  
/* .menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
} */
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
header{
	width: 100%;
    height: 100vh;
    background-image: 
      url("image/img\ 1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
}
@media (max-width: 1235px) 
{
  header
  {
    /* padding: 10px 20px; */
  }  
  nav
  {
    /* padding-left: 0%; */
  }
}
.container{
  min-height: 100%;
}
main{
  overflow: auto;
  padding-bottom: 100px;
}
.img{
	
  background: url('img3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
	position: absolute;
left: 10%;
right: 50%;
top: 30%;
/* bottom: -445.57%; */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 80px;
letter-spacing: 0.0125em;

/* Text & Icons/0 */

color: #FFFFFF;

}
/* .center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}*/
.center .title{
	/* position: absolute;
	left: 10%;
    right: 0%;
    top: 30%; */
  color: #fff;
  font-size: 45px;
  font-weight: 500;
} 
.center .sub_title{
  color: #fff;
  
  font-size: 18px;
  font-weight: 600;
}

.menu .btns a:first-child{
	color: #fff;
	background: none;
  }
  .btns a:first-child:hover{
	background: orange;
	color: black;
  }
  .menu .btns a:last-child{
	background: orange;
	color: black;
  }

/* .center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
} */
.center .search-container {
	

	float: right;
	align-items: center;
	border: white;
	

  }
form{
  display: flex;
  top: 50%;
  left: 10%;
	/* margin-left: ; */
	margin-right: 20rem;

}
  
  .center input[type=text] {
	color: white;
	padding: 10px 20px;
	margin-top: 25px;
	margin-left: 2px;
	font-size: 12px;
	border-inline-color:  white;
	background-color: #1b1b1b00;
  }
  
  .center .search-container button {
	float: right;
	padding: 10px 20px;
	margin-top: 25px;
	margin-left: 2px;
	/* padding: 6px;
	margin-top: 1;
	margin-right: 23rem; */
	color: white;
	background: orange;
	border-inline-color:white ;
	font-size: 17px;
	border: white;
	cursor: pointer;
  }
  
  .center .search-container button:hover {
	background: rgba(251, 153, 7, 0.527);
  }
  
  @media screen and (max-width: 600px) {
	.center .search-container {
	  float: none;
	}
	.center button, .center input[type=text], .center .search-container a {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.center input[type=text] {
	  border: 1px solid rgb(255, 255, 255);  
	}
  }

  .image-container{
	display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }
  .image-container .image1{
	flex:1 1 25rem;
    text-align: center;
    padding:5rem;
    background:#fff;
    }
	.image-container .image2{
		flex:1 1 25rem;
		text-align: center;
		/* padding:2rem; */
		background:#fff;
		}
		.image-container .image3{
			flex:1 1 25rem;
			text-align: center;
			padding:2rem;
			background:#fff;
			}

    .image-container .app img{
      flex:auto;
      height: 70px;
      width: 80px;
      /* padding: 30px; */
    }  

      .map-container{
        padding: 100px;
        width: 100%;
        height: 100vh;
      }


iframe{
  position: relative;
  display: flex;
  height: 500px;
}


footer
{
  position: relative;
  width: 100%;
  /* height: 100px; */
  margin-top: -100px;
  padding: 50px 100px;
  background: #0b0c0e;
  clear: both;
}			
 footer .container
{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  
}
 footer .container .sec h2 
{
  position: relative;
  color: orange;
  font-weight: 500;
} 
footer .container .sec h2::before
{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: rgb(255, 254, 253);
} 
footer .container .sec h3 
{
  position: relative;
  color: white;
  font-weight: 500;
} 
footer .container .sec h3::before
{
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: orange;
}
footer .container .sec p
{
  color: white;
}      
.sci
{
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-gap: 10px;
} 
.sci li
{
  list-style: none;
}
.sci li a:hover{
  color: orange;
}
.sci li a
{
  color: black;
  display: inline-block;
  width: 48px;
  height: 48px;
  background: #fefafa;
  display: grid;
  align-content: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 4px;
}
.sci li a.fa
{
  color:black ;
  font-size: 20px;
}
.Company
{
  position: relative;
}
.Company li
{
  list-style: none;
}
.Company li a
{
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.Company li a:hover
{
  color: orange;
}
.info
{
  position: relative;
}
.info li{
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 16px;
}
.info li span:nth-child(1)
{
  color: white;
  font-size: 20px;
}
.info li span{
  color: white;
}
.info a{
  color: white;
  text-decoration: none;
}
.info span i:hover
{
  color: orange;
}
.info a:hover
{
  color: orange;
}
.Discover
{
  position: relative;
}
.Discover img{
  
  height: 90px;
  width: 110px;
}

.text{
  width: 100%;
  background: black;
  padding: 8px 100px;
  text-align: center;
  color: white;
}

/* responsive */
@media (max-width: 1000px)
{
  footer
  {
    padding: 0px 40px;
  }
  footer .container
  {
    grid-template-columns: repeat(2,1fr);
  }
  .text{
    
    padding: 8px 40px;
    
  }
}
@media (max-width: 900px)
{
  footer .container{
    grid-template-columns: repeat(1,1fr);
  }
}